.#-emacs*
.#recentf
.#*
.cache/*
elisp/*
local/*
.persistent-scratch
all-the-icons-fonts/*
dired-history
emms/*
emojis/*
rcirc-log/*
secrets/*
*.cache
.python-environments/*
auto-save-list/*
bookmarks
elpa/*
eshell/*
projectile-bookmarks.eld
recentf
smex-items
amx-items
tramp
url/*
#*.*#
/auth.el
/request/*
/transient/*
/%backup%~
/hackernews/*
/recentf~
/history
/site-lib
session.*
*.eld
*.last
custom.el
*.dat
elpa-25.2/
#*#
.emacs.desktop
.emacs.d-stable/*
.mc-lists.el
.emacs.desktop.lock
#recentf#
\#*
GPATH
GTAGS
TAGS
TAGS.*
*.data
*clock*.*
GRTAGS
.cask/
.bookmarks.el
*~
.smex*
misc/*
server/