.cache/*
.python-environments/*
auto-save-list/*
bookmarks
elpa/*
eshell/*
projectile-bookmarks.eld
recentf
smex-items
tramp
url/*
#*.*#
/auth.el
/request/*
/transient/*
/%backup%~
/hackernews/*
/recentf~
/history
/site-lib
session.*
*.eld
*.last
custom.el
*.dat
elpa-25.2/
#*#
.emacs.desktop
.emacs.d-stable/*
.mc-lists.el
.emacs.desktop.lock
#recentf#
\#*
GPATH
GTAGS
TAGS
GRTAGS
.cask/
.bookmarks.el
*~
.smex*
misc/*